body {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 600px;
	min-width: 1500px;
}
#login{
	position: absolute;
	left: 29%;
	top: 37%;
	background-color:transparent ;
	width: 40%;
	height: 55%;
}
#a1 {
	position: absolute;
	font-family: "微软雅黑";
	color: #1C3E63;
	letter-spacing: 1.5px;
	font-size: 25px;
	left: 15%;
	top: 10%;
}
#a2{
	position: absolute;
	font-family: "微软雅黑";
	color: #1C3E63;
	letter-spacing: 1.5px;
	font-size: 25px;
	margin-top: 4%;
	margin-left: 6.5%;
}
#a3{
	position: absolute;
	font-family: "微软雅黑";
	color: #1C3E63;
	letter-spacing: 1.5px;
	font-size: 25px;
	margin-top: 4%;
	margin-left: 6.5%;
}
#a4{
	position: absolute;
	font-family: "微软雅黑";
	color: #1C3E63;
	letter-spacing: 1.5px;
	font-size: 25px;
	margin-top: 3%;
	margin-left: 6%;
}
#a5{
	position: absolute;
	font-family: "微软雅黑";
	color: #1C3E63;
	letter-spacing: 1.5px;
	font-size: 25px;
	margin-top: 4%;
	margin-left: 6.5%;
}
#a6{
	position: absolute;
	font-family: "微软雅黑";
	color: #1C3E63;
	letter-spacing: 1.5px;
	font-size: 25px;
	margin-top: 4%;
	margin-left: 6.5%;
}

#username{ 
	            margin-top:5.5% ;
				margin-left: 26%;
				width:65% ;
				height:40px ;
				text-align: center;
				font-size: 15px;
				border-width:5px;
  			    background-color:#EBEBEB;
  				box-sizing:border-box;
  				border-width:1px;
  				border-style:dashed;
  				border-color:#9B9D9D;
  				border-radius:5px;
}
#phone{
	 			margin-top:4% ;
				margin-left: 26%;
				width:65% ;
				height:40px ;
				text-align: center;
				font-size: 15px;
				border-width:5px;
  			    background-color:#EBEBEB;
  				box-sizing:border-box;
  				border-width:1px;
  				border-style:dashed;
  				border-color:#9B9D9D;
  				border-radius:5px;
}
#email{
				margin-top:4% ;
				margin-left: 26%;
				width:65% ;
				height:40px ;
				text-align: center;
				font-size: 15px;
				border-width:5px;
  			    background-color:#EBEBEB;
  				box-sizing:border-box;
  				border-width:1px;
  				border-style:dashed;
  				border-color:#9B9D9D;
  				border-radius:5px;
}
#check {
				position: absolute;
	 			margin-top:4% ;
				margin-left: 31.5%;
				width:30% ;
				height:30px ;
				text-align: center;
				font-size: 15px;
				border-width:5px;
  			    background-color:#EBEBEB;
  				box-sizing:border-box;
  				border-width:1px;
  				border-style:dashed;
  				border-color:#9B9D9D;
  				border-radius:5px;
}
#password{
	margin-top:4% ;
				margin-left: 26%;
				width:65% ;
				height:40px ;
				text-align: center;
				font-size: 15px;
				border-width:5px;
  			    background-color:#EBEBEB;
  				box-sizing:border-box;
  				border-width:1px;
  				border-style:dashed;
  				border-color:#9B9D9D;
  				border-radius:5px;
}
#password2{
	margin-top:4% ;
				margin-left: 26%;
				width:65% ;
				height:40px ;
				text-align: center;
				font-size: 15px;
				border-width:5px;
  			    background-color:#EBEBEB;
  				box-sizing:border-box;
  				border-width:1px;
  				border-style:dashed;
  				border-color:#9B9D9D;
  				border-radius:5px;
}
#sub1{
	 margin-left: 22%;
			    margin-top:3% ; 
  			   	border-width:5px;
  			    background-color:#EBEBEB;
  				box-sizing:border-box;
  				border-width:1px;
  				border-style:dashed;
  				border-color:#9B9D9D;
  				border-radius:5px;
  				font-family:"微软雅黑";
				color: #1C3E63;
				letter-spacing: 1.5px;	
				font-size: 20px;
  				width:20%;
  				height:35px;
}
#sub2{
	 			margin-left: 23%;
			    margin-top:2% ; 
  			   	border-width:5px;
  			    background-color:#EBEBEB;
  				box-sizing:border-box;
  				border-width:1px;
  				border-style:dashed;
  				border-color:#9B9D9D;
  				border-radius:5px;
  				font-family:"微软雅黑";
				color: #1C3E63;
				letter-spacing: 1.5px;	
				font-size: 20px;
  				width:20%;
  				height:35px;
}

#sub3 {
				
				margin-left: 65%;
			    margin-top:3.5% ; 
  			   	border-width:5px;
  			    background-color:#EBEBEB;
  				box-sizing:border-box;
  				border-width:1px;
  				border-style:dashed;
  				border-color:#9B9D9D;
  				border-radius:5px;
  				font-family:"微软雅黑";
				color: #1C3E63;
				letter-spacing: 1.5px;	
				font-size: 20px;
  				width:25%;
  				height:35px;
}
